<div *ngIf="dataLoaded">
<h2>CONFIRM DELETE</h2>
<div>
  <h3 *ngIf="contact.firstName || contact.lastName">
    <span *ngIf="contact.firstName">{{ contact.firstName }}</span>
    <span *ngIf="contact.lastName">&nbsp;{{ contact.lastName}}</span>
  </h3>
<p>Are you sure you want to delete
  <span *ngIf="contact.firstName">{{ contact.firstName }}</span>
  <span *ngIf="contact.lastName">&nbsp;{{ contact.lastName}}</span>??
</p>
  <p>
    <button (click)="buttonClick('delete')">Delete</button>
    <button (click)="buttonClick('cancel')">Cancel</button>
  </p>
</div>
</div>